<!-- templates/clustering.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Clustering KMeans</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h2>Clustering KMeans: Edad vs Género vs Adicción</h2>
<a href="/" class="boton">Inicio</a> |
    <a href="/regresion" class="boton">Regresión Lineal</a> |
     <a href="/logistica" class="boton">Regresión Logística</a> |
      <a href="/arbol" class="boton">Arbol de Desiciones</a> |
       <a href="/clustering" class="boton">Means Clustering</a>
  <br><br>
  <img src="/clustering.png" alt="Clustering 3D">
</body>
</html>
