<!-- templates/regresion.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regresión Lineal</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Regresión Lineal</h2>
<a href="/" class="boton">Inicio</a> |
    <a href="/regresion" class="boton">Regresión Lineal</a> |
     <a href="/logistica" class="boton">Regresión Logística</a> |
      <a href="/arbol" class="boton">Arbol de Desiciones</a> |
       <a href="/clustering" class="boton">Means Clustering</a>
    <canvas id="grafico" width="800" height="400"></canvas>
    <script src="/static/js/regresion.js"></script>
</body>
</html>
