<!DOCTYPE html>
<html>

<head>
    <title>Gráfico de Estado de Relación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div style="text-align: center; margin-top: 50px;">
        <h2>Distribución del Estado de Relación de los Estudiantes</h2>

        <!-- Botones y selector -->
        <div style="margin-bottom: 20px;">
            <a href="/" class="boton">Inicio</a> |
            <a href="/regresion" class="boton">Regresión Lineal</a> |
            <a href="/logistica" class="boton">Regresión Logística</a> |
            <a href="/arbol" class="boton">Árbol de Decisiones</a> |
            <a href="/clustering" class="boton">Means Clustering</a> |
            <label for="navegacion">Ir a:</label>
            <select id="navegacion" class="boton">
                <option disabled selected>Selecciona una opción</option>
                <option value="/EDA">EDA - info()</option>
                <option value="/head">Ver Datos (head)</option>
                <option value="/grafica">Histograma</option>
                <option value="/boxplot">Boxplot</option>
                <option value="/relacion">Relación</option>
                <option value="/correlacion">Correlación</option>
                <option value="/normalizacion">Normalización</option>
            </select>
        </div>

        <img src="data:image/png;base64,{{ img_data }}" alt="Gráfico de Estado de Relación"
            style="max-width: 90%; height: auto; border: 1px solid #ccc; padding: 10px;">

        <script>
            document.getElementById("navegacion").addEventListener("change", function () {
                const ruta = this.value;
                if (ruta) {
                    window.location.href = ruta;
                }
            });
        </script>
    </div>
</body>

</html>